node_modules/*
config/.env
files/simo.png
files/excels_dati/*
src/scripts/preparePhotos/files/foto_tisane/1.jpg
src/scripts/preparePhotos/files/foto_tisane/2.jpg
src/scripts/preparePhotos/files/foto_tisane/3.jpg
src/scripts/preparePhotos/files/foto_tisane/4.jpg
src/scripts/preparePhotos/files/foto_tisane/5.jpg
src/scripts/preparePhotos/files/foto_tisane/6.jpg
src/scripts/preparePhotos/files/foto_tisane/7.jpg
src/scripts/preparePhotos/files/foto_tisane/8.jpg
src/scripts/preparePhotos/files/foto_tisane/9.jpg
src/scripts/preparePhotos/files/foto_tisane/10.jpg
src/scripts/preparePhotos/files/foto_tisane/11.jpg
src/scripts/preparePhotos/files/foto_tisane/12.jpg
src/scripts/preparePhotos/files/foto_tisane/13.jpg
src/scripts/preparePhotos/files/foto_tisane/14.jpg
src/scripts/preparePhotos/files/foto_tisane/15.jpg
src/scripts/preparePhotos/files/foto_tisane/16.jpg
src/scripts/preparePhotos/files/foto_tisane/17.jpg
src/scripts/preparePhotos/files/foto_tisane/18.jpg
src/scripts/preparePhotos/files/foto_tisane/19.jpg
src/scripts/preparePhotos/files/foto_tisane/20.jpg
src/scripts/preparePhotos/files/foto_tisane/21.jpg
src/scripts/preparePhotos/files/foto_tisane/22.jpg
src/scripts/preparePhotos/files/foto_tisane/23.jpg
src/scripts/preparePhotos/files/foto_tisane/24.jpg
src/scripts/preparePhotos/files/foto_tisane/25.jpg
src/scripts/preparePhotos/files/foto_tisane/26.jpg
src/scripts/preparePhotos/files/foto_tisane/27.jpg
src/scripts/preparePhotos/files/foto_tisane/28.jpg
src/scripts/preparePhotos/files/foto_tisane/29.jpg
src/scripts/preparePhotos/files/foto_tisane/30.jpg
src/scripts/preparePhotos/files/foto_tisane/31.jpg
src/scripts/preparePhotos/files/foto_tisane/32.jpg
src/scripts/preparePhotos/files/foto_tisane/33.jpg
src/scripts/preparePhotos/files/foto_tisane/34.jpg
src/scripts/preparePhotos/files/foto_tisane/35.jpg
src/scripts/preparePhotos/files/foto_tisane/36.jpg
src/scripts/preparePhotos/files/foto_tisane/37.jpg
src/scripts/preparePhotos/files/foto_tisane/38.jpg
src/scripts/preparePhotos/files/foto_tisane/39.jpg
src/scripts/preparePhotos/files/foto_tisane/40.jpg
src/scripts/preparePhotos/files/foto_tisane/41.jpg
src/scripts/preparePhotos/files/foto_tisane/42.jpg
src/scripts/preparePhotos/files/foto_tisane/43.jpg
src/scripts/preparePhotos/files/foto_tisane/44.jpg
src/scripts/preparePhotos/files/foto_tisane/45.jpg
src/scripts/preparePhotos/files/foto_tisane/46.jpg
src/scripts/preparePhotos/files/foto_tisane/47.jpg
src/scripts/preparePhotos/files/foto_tisane/48.jpg
src/scripts/preparePhotos/files/foto_tisane/49.jpg
src/scripts/preparePhotos/files/foto_tisane/50.jpg
src/scripts/preparePhotos/files/foto_tisane/51.jpg
src/scripts/preparePhotos/files/foto_tisane/52.jpg
src/scripts/preparePhotos/files/foto_tisane/53.jpg
src/scripts/preparePhotos/files/foto_tisane/54.jpg
src/scripts/preparePhotos/files/foto_tisane/55.jpg
src/scripts/preparePhotos/files/foto_tisane/56.jpg
src/scripts/preparePhotos/files/foto_tisane/57.jpg
src/scripts/preparePhotos/files/foto_tisane/58.jpg
src/scripts/preparePhotos/files/foto_tisane/59.jpg
src/scripts/preparePhotos/files/foto_tisane/60.jpg
src/scripts/preparePhotos/files/foto_tisane/61.jpg
src/scripts/preparePhotos/files/foto_tisane/62.jpg
src/scripts/preparePhotos/files/foto_tisane/63.jpg
src/scripts/preparePhotos/files/foto_tisane/64.jpg
src/scripts/preparePhotos/files/foto_tisane/65.jpg
src/scripts/preparePhotos/files/foto_tisane/66.jpg
src/scripts/preparePhotos/files/foto_tisane/67.jpg
src/scripts/preparePhotos/files/foto_tisane/68.jpg
src/scripts/preparePhotos/files/foto_tisane/69.jpg
src/scripts/preparePhotos/files/foto_tisane/70.jpg
src/scripts/preparePhotos/files/foto_tisane/71.jpg
src/scripts/preparePhotos/files/foto_tisane/72.jpg
src/scripts/preparePhotos/files/foto_tisane/73.jpg
src/scripts/preparePhotos/files/foto_tisane/74.jpg
src/scripts/preparePhotos/files/foto_tisane/75.jpg
src/scripts/preparePhotos/files/foto_tisane/76.jpg
src/scripts/preparePhotos/files/foto_tisane/77.jpg
src/scripts/preparePhotos/files/foto_tisane/78.jpg
src/scripts/preparePhotos/files/foto_tisane/79.jpg
src/scripts/preparePhotos/files/foto_tisane/80.jpg
src/scripts/preparePhotos/files/foto_tisane/81.jpg
src/scripts/preparePhotos/files/foto_tisane/82.jpg
src/scripts/preparePhotos/files/foto_tisane/83.jpg
src/scripts/preparePhotos/files/foto_tisane/84.jpg
src/scripts/preparePhotos/files/foto_tisane/85.jpg
src/scripts/preparePhotos/files/foto_tisane/86.jpg
src/scripts/preparePhotos/files/foto_tisane/87.jpg
src/scripts/preparePhotos/files/foto_tisane/88.jpg
src/scripts/preparePhotos/files/foto_tisane/89.jpg
src/scripts/preparePhotos/files/foto_tisane/90.jpg
src/scripts/preparePhotos/files/foto_tisane/91.jpg
src/scripts/preparePhotos/files/foto_tisane/92.jpg
src/scripts/preparePhotos/files/foto_tisane/93.jpg
src/scripts/preparePhotos/files/foto_tisane/94.jpg
src/scripts/preparePhotos/files/foto_tisane/95.jpg
src/scripts/preparePhotos/files/foto_tisane/96.jpg
src/scripts/preparePhotos/files/foto_tisane/97.jpg
src/scripts/preparePhotos/files/foto_tisane/98.jpg
src/scripts/preparePhotos/files/foto_tisane/99.jpg
src/scripts/preparePhotos/files/foto_tisane/100.jpg
src/scripts/preparePhotos/files/foto_tisane/101.jpg
src/scripts/preparePhotos/files/foto_tisane/102.jpg
src/scripts/preparePhotos/files/foto_tisane/103.jpg
src/scripts/preparePhotos/files/foto_tisane/104.jpg
src/scripts/preparePhotos/files/foto_tisane/105.jpg
src/scripts/preparePhotos/files/foto_tisane/106.jpg
src/scripts/preparePhotos/files/foto_tisane/107.jpg
src/scripts/preparePhotos/files/foto_tisane/108.jpg
src/scripts/preparePhotos/files/foto_tisane/109.jpg
src/scripts/preparePhotos/files/foto_tisane/110.jpg
src/scripts/preparePhotos/files/foto_tisane/111.jpg
src/scripts/preparePhotos/files/foto_tisane/112.jpg
src/scripts/preparePhotos/files/foto_tisane/113.jpg
src/scripts/preparePhotos/files/foto_tisane/114.jpg
src/scripts/preparePhotos/files/foto_tisane/115.jpg
src/scripts/preparePhotos/files/foto_tisane/116.jpg
src/scripts/preparePhotos/files/foto_tisane/117.jpg
src/scripts/preparePhotos/files/foto_tisane/118.jpg
src/scripts/preparePhotos/files/foto_tisane/119.jpg
src/scripts/preparePhotos/files/foto_tisane/120.jpg
src/scripts/preparePhotos/files/foto_tisane/121.jpg
src/scripts/preparePhotos/files/foto_tisane/122.jpg
src/scripts/preparePhotos/files/foto_tisane/123.jpg
src/scripts/preparePhotos/files/foto_tisane/124.jpg
src/scripts/preparePhotos/files/foto_tisane/125.jpg
src/scripts/preparePhotos/files/foto_tisane/126.jpg
src/scripts/preparePhotos/files/foto_tisane/127.jpg
src/scripts/preparePhotos/files/foto_tisane/128.jpg
src/scripts/preparePhotos/files/foto_tisane/129.jpg
src/scripts/preparePhotos/files/foto_tisane/130.jpg
src/scripts/preparePhotos/files/foto_tisane/131.jpg
src/scripts/preparePhotos/files/foto_tisane/132.jpg
src/scripts/preparePhotos/files/foto_tisane/133.jpg
src/scripts/preparePhotos/files/foto_tisane/134.jpg
src/scripts/preparePhotos/files/foto_tisane/135.jpg
src/scripts/preparePhotos/files/foto_tisane/136.jpg
src/scripts/preparePhotos/files/foto_tisane/137.jpg
src/scripts/preparePhotos/files/foto_tisane/138.jpg
src/scripts/preparePhotos/files/foto_tisane/139.jpg
src/scripts/preparePhotos/files/foto_tisane/140.jpg
src/scripts/preparePhotos/files/foto_tisane/141.jpg
src/scripts/preparePhotos/files/foto_tisane/142.jpg
src/scripts/preparePhotos/files/foto_tisane/143.jpg
src/scripts/preparePhotos/files/foto_tisane/144.jpg
src/scripts/preparePhotos/files/foto_tisane/145.jpg
src/scripts/preparePhotos/files/foto_tisane/146.jpg
src/scripts/preparePhotos/files/foto_tisane/147.jpg
src/scripts/preparePhotos/files/foto_tisane/148.jpg
src/scripts/preparePhotos/files/foto_tisane/149.jpg
src/scripts/preparePhotos/files/foto_tisane/150.jpg
src/scripts/preparePhotos/files/foto_tisane/151.jpg
src/scripts/preparePhotos/files/foto_tisane/152.jpg
src/scripts/preparePhotos/files/foto_tisane/153.jpg
src/scripts/preparePhotos/files/foto_tisane/154.jpg
src/scripts/preparePhotos/files/foto_tisane/155.jpg
src/scripts/preparePhotos/files/foto_tisane/156.jpg
src/scripts/preparePhotos/files/foto_tisane/157.jpg
src/scripts/preparePhotos/files/foto_tisane/158.jpg
src/scripts/preparePhotos/files/foto_tisane/159.jpg
src/scripts/preparePhotos/files/foto_tisane/160.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/142.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/143.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/144.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/145.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/146.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/147.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/148.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/149.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/150.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/151.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/152.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/153.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/154.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/155.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/156.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/157.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/158.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/159.jpg
src/scripts/preparePhotos/files/reduceQualityOutput/160.jpg
